{% extends "car_wash/wrapper_demo.html" %}
{% block content %}
    <div class="container pt-5" style="width: 100%">
        <!-- paht -->
        <div class="row text-white">
           <div class="span12" >
               <section class="title-section">
                   <h1 class="pb-3 ts">ГАЛЕРЕЯ</h1>
               <!-- BEGIN BREADCRUMBS-->
                   <div class="" style="display: inline-block">
                       <ul class="breadcrumb breadcrumb__t shadow shadow-lg opacit" style="font-size: 40%;"><li><a href="/home">ГЛАВНАЯ</a></li><li class="divider ml-2">/</li><li class="active ml-2">ГАЛЕРЕЯ</a></li> <li class="divider ml-2">/</li> <li class="ml-2"><a href="../gallery/gallery_1.html"> СИБИРСКАЯ 79в </a></li></ul>
                       <!-- END BREADCRUMBS -->
                   </div>
               </section>
               <!-- .title-section -->
           </div>
       </div>
        {% load staticfiles %}
        <div class="tabs-container">
            <ul class="tabs" style="margin-bottom: 0; list-style: none">
                <li class="active">
                    <a><h3>Рабочая зона</h3></a>
                </li>
                <li>
                    <a><h3>Комната ожидания</h3></a>
                </li>
            </ul>
            <div class="tabs-content">
                <div class="tabs-panel active" data-index="0">
                  <!-- content here -->
                    <div class="row ">
                        <div class="col-3">
                            <a class="highslide" href="{% static 'images/home/lkp.png' %}" onclick="return hs.expand(this)">
                                <img class="border border-dark" style="width: 100%; border-radius: 10px" src="{% static 'images/home/thumb/lkp.jpg' %}">
                            </a>
                        </div>
                        <div class="col-3">
                           <a class="highslide" href="{% static 'images/home/lkp.png' %}" onclick="return hs.expand(this)">
                               <img class="border border-dark" style="width: 100%; border-radius: 10px" src="{% static 'images/home/thumb/lkp.jpg' %}">
                           </a>
                        </div>
                        <div class="col-3">
                           <a class="highslide" href="{% static 'images/home/lkp.png' %}" onclick="return hs.expand(this)">
                               <img class="border border-dark" style="width: 100%; border-radius: 10px" src="{% static 'images/home/thumb/lkp.jpg' %}">
                           </a>
                        </div>
                        <div class="col-3">
                           <a class="highslide" href="{% static 'images/home/lkp.png' %}" onclick="return hs.expand(this)">
                               <img class="border border-dark" style="width: 100%; border-radius: 10px" src="{% static 'images/home/thumb/lkp.jpg' %}">
                           </a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-3">
                            <a class="highslide" href="{% static 'images/home/lkp.png' %}" onclick="return hs.expand(this)">
                                <img class="border border-dark" style="width: 100%; border-radius: 10px" src="{% static 'images/home/thumb/lkp.jpg' %}">
                            </a>
                        </div>
                        <div class="col-3">
                           <a class="highslide" href="{% static 'images/home/lkp.png' %}" onclick="return hs.expand(this)">
                               <img class="border border-dark" style="width: 100%; border-radius: 10px" src="{% static 'images/home/thumb/lkp.jpg' %}">
                           </a>
                        </div>
                        <div class="col-3">
                           <a class="highslide" href="{% static 'images/home/lkp.png' %}" onclick="return hs.expand(this)">
                               <img class="border border-dark" style="width: 100%; border-radius: 10px" src="{% static 'images/home/thumb/lkp.jpg' %}">
                           </a>
                        </div>
                        <div class="col-3">
                           <a class="highslide" href="{% static 'images/home/lkp.png' %}" onclick="return hs.expand(this)">
                               <img class="border border-dark" style="width: 100%; border-radius: 10px" src="{% static 'images/home/thumb/lkp.jpg' %}">
                           </a>
                        </div>
                    </div>
                </div>
                <div class="tabs-panel" data-index="1">
                    <!-- content here -->
                    <div class="row ">
                        <div class="col-3">
                            <a class="highslide" href="{% static 'images/home/lkp.png' %}" onclick="return hs.expand(this)">
                                <img class="border border-dark" style="width: 100%; border-radius: 10px" src="{% static 'images/home/thumb/lkp.jpg' %}">
                            </a>
                        </div>
                        <div class="col-3">
                           <a class="highslide" href="{% static 'images/home/lkp.png' %}" onclick="return hs.expand(this)">
                               <img class="border border-dark" style="width: 100%; border-radius: 10px" src="{% static 'images/home/thumb/lkp.jpg' %}">
                           </a>
                        </div>
                        <div class="col-3">
                           <a class="highslide" href="{% static 'images/home/lkp.png' %}" onclick="return hs.expand(this)">
                               <img class="border border-dark" style="width: 100%; border-radius: 10px" src="{% static 'images/home/thumb/lkp.jpg' %}">
                           </a>
                        </div>
                        <div class="col-3">
                           <a class="highslide" href="{% static 'images/home/lkp.png' %}" onclick="return hs.expand(this)">
                               <img class="border border-dark" style="width: 100%; border-radius: 10px" src="{% static 'images/home/thumb/lkp.jpg' %}">
                           </a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-3">
                            <a class="highslide" href="{% static 'images/home/lkp.png' %}" onclick="return hs.expand(this)">
                                <img class="border border-dark" style="width: 100%; border-radius: 10px" src="{% static 'images/home/thumb/lkp.jpg' %}">
                            </a>
                        </div>
                        <div class="col-3">
                           <a class="highslide" href="{% static 'images/home/lkp.png' %}" onclick="return hs.expand(this)">
                               <img class="border border-dark" style="width: 100%; border-radius: 10px" src="{% static 'images/home/thumb/lkp.jpg' %}">
                           </a>
                        </div>
                        <div class="col-3">
                           <a class="highslide" href="{% static 'images/home/lkp.png' %}" onclick="return hs.expand(this)">
                               <img class="border border-dark" style="width: 100%; border-radius: 10px" src="{% static 'images/home/thumb/lkp.jpg' %}">
                           </a>
                        </div>
                        <div class="col-3">
                           <a class="highslide" href="{% static 'images/home/lkp.png' %}" onclick="return hs.expand(this)">
                               <img class="border border-dark" style="width: 100%; border-radius: 10px" src="{% static 'images/home/thumb/lkp.jpg' %}">
                           </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}