{% extends "car_wash/wrapper.html" %}
{% block content %}
{% load staticfiles %}
    <div class="row pb-5">
        <div class="col-2 mr-5"></div>
        <div class="col-md-7 mt-5" style="font-size: 17px">
            <div class="row mb-3 pt-3 shadow shadow-lg"  style="background-color: lightgoldenrodyellow;border: black solid; border-width: medium; border-radius: 20px">
                <div class="col-md-7 ">
                    <em>
                        <p align="justify">
                        Что ценит любой автовладелец? Комфорт, надежность, техническая составляющая и так далее. И каждый хочет видеть своего железного коня, припаркованного возле дома или офиса, опрятного и с первоначальным блеском. Что не удивительно, ведь внешний вид автомобиля – лицо и гордость его владельца. И специалисты Нашего «автомоечного комплекса» это прекрасно понимают!
                        </p>
                    </em>
                </div>
                <div class="col-5 pb-3 pt-2">
                    <a class="highslide" href="{% static 'images/home/7.PNG' %}" onclick="return hs.expand(this)">
                        <img class="border border-dark" style="width: 100%; border-radius: 10px" src="{% static 'images/home/thumb/7.JPG' %}">
                    </a>
                </div>
            </div>
            <div class="row mb-3 pt-3 shadow shadow-lg"  style="background-color: lightgoldenrodyellow;border: black solid; border-width: medium; border-radius: 20px">
                <div class="col-4 pt-2">
                    <div class="pb-3">
                        <a class="highslide" href="{% static 'images/home/5.PNG' %}" onclick="return hs.expand(this)">
                            <img class="border border-dark" style="width: 100%; border-radius: 10px" src="{% static 'images/home/thumb/5.JPG' %}">
                        </a>
                    </div>
                    <div class="pt-5">
                        <a class="highslide" href="{% static 'images/home/kapot_1.PNG' %}" onclick="return hs.expand(this)">
                            <img class="border border-dark" style="width: 100%; border-radius: 10px" src="{% static 'images/home/kapot_1.JPG' %}">
                        </a>
                    </div>
                </div>
                <div class="col-8">
                    <p align="justify">
                        <em>
                            Команда наших специалистов ликвидируют грязь с любого транспортного средства. В нашем автомоечном центре мойка автомобилей производится аппаратами высокого давления с применением современной авто химии и авто косметики. Мы предоставляем целый комплекс авто услуг, после которых Ваш железный конь буквально засияет от чистоты. Это полировка, помывка двигателя, покрытие кузова автомобиля, его зеркал и стекол специальным защитным материалом.
                            <br><strong>«Слишком много чести!»</strong> - именно так рассуждает большинство автовладельцев. Но, поверьте, Ваши усилия будут вознаграждены. Ведь чистый двигатель снижает вероятность перегрева. Да и обслужить «сердце» автомобиля (менять моторное масло, воздушные фильтры, свечи зажигания) в чистом виде гораздо приятнее. К тому же, чистый моторный отсек более пожароустойчив.
                        </em>
                    </p>
                </div>
            </div>
            <div class="row mb-3 pt-3 shadow shadow-lg"  style="background-color: lightgoldenrodyellow;border: black solid; border-width: medium; border-radius: 20px">
                <div class="col-7">
                    <em>
                        <p align="justify">
                            Не секрет, что кузов – самая дорогостоящая часть автомобиля. Именно поэтому важно понимать, что грязь, имеющая свойство проникать в краску, может подвергнуть автомобиль усиленной коррозии и разрушить его лакокрасочное покрытие. Воспользовавшись услугами нашего центра, вы не только получите бережно вымытый автомобиль, но и приятное обслуживание. С нами Вы поймете, что такое оперативный сервис, качественные услуги и демократичные цены.
                        </p>
                    </em>
                </div>
                <div class="col-5 pt-3">
                    <a class="highslide" href="{% static 'images/home/lkp.PNG' %}" onclick="return hs.expand(this)">
                        <img class="border border-dark" style="width: 100%; border-radius: 10px" src="{% static 'images/home/thumb/lkp.JPG' %}">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-2 ml-5">
            h
        </div>
    </div>
{% endblock %}