{% extends "car_wash/wrapper_demo.html" %}
{% block content %}
{% load staticfiles %}
    <div id="container" class="d-flex justify-content-center">
        <div id="vkontakte" class="col-2 pr-4" style="margin-top: 5.5%">
                <script type="text/javascript" src="https://vk.com/js/api/openapi.js?162"></script>

                <!-- VK Widget -->
                <div id="vk_groups" ></div>
                <script type="text/javascript" style="width: 100%">
                VK.Widgets.Group("vk_groups", { width: "auto",mode: 3, no_cover: 1}, 183623649);
                </script>
        </div>

        <div id="content-block" style="margin-top: 5% ;">
            <div class="post shadow shadow-lg" >
                <em>
                    <p class="text-white ts" align="justify" style="height:100%;padding: 2%">
                        <a  class="highslide" style="float:right;width:30%;padding-left: 1%;" href="{% static 'images/home/7.png' %}" onclick="return hs.expand(this)">
                            <img class="border border-dark" style="max-width: 100%;height: auto;border-radius: 10px;float: right" src="{% static 'images/home/thumb/7.jpg' %}">
                        </a>

                        Что ценит любой автовладелец? Комфорт, надежность, техническая составляющая и так далее. И каждый хочет видеть своего железного коня, припаркованного возле дома или офиса, опрятного и с первоначальным блеском. Что не удивительно, ведь внешний вид автомобиля – лицо и гордость его владельца. И специалисты Нашего «автомоечного комплекса» это прекрасно понимают!

                    </p>
                </em>
            </div>
            <div class="post shadow shadow-lg" style="margin-top: 5.8%" >
                <em>
                    <p class="text-white ts" align="justify" style=" padding: 2% 2% 0 2%">
                        <a class="highslide" style="float:left; width:30%; padding-right: 2%;" href="{% static 'images/home/5.png' %}" onclick="return hs.expand(this)">
                            <img class="border border-dark" style="max-width: 100%;height: auto; border-radius: 10px" src="{% static 'images/home/thumb/5.jpg' %}">
                        </a>
                         Команда наших специалистов ликвидируют грязь с любого транспортного средства. В нашем автомоечном центре мойка автомобилей производится аппаратами высокого давления с применением современной авто химии и авто косметики. Мы предоставляем целый комплекс авто услуг, после которых Ваш железный конь буквально засияет от чистоты. Это полировка, помывка двигателя, покрытие кузова автомобиля, его зеркал и стекол специальным защитным материалом.

                    </p>
                    <p class="text-white ts" align="justify" style="padding: 2% 2% 5% 2%">
                        <a class="highslide" style="float:right; width:30%; padding-left: 2%;" href="{% static 'images/home/kapot_1.png' %}" onclick="return hs.expand(this)">
                            <img class="border border-dark" style="max-width: 100%;height: auto; border-radius: 10px" src="{% static 'images/home/kapot_1.png' %}">
                        </a>
                        «Слишком много чести!» - именно так рассуждает большинство автовладельцев. Но, поверьте, Ваши усилия будут вознаграждены. Ведь чистый двигатель снижает вероятность перегрева. Да и обслужить «сердце» автомобиля (менять моторное масло, воздушные фильтры, свечи зажигания) в чистом виде гораздо приятнее. К тому же, чистый моторный отсек более пожароустойчив.
                    </p>
                </em>
            </div>
            <div class="post shadow shadow-lg" style="margin-top: 5.8%;margin-bottom: 3.5%">
                <em>
                    <p class="text-white ts" align="justify" style="padding: 2%">
                        <a class="highslide" style="float:right; width:30%; padding-left: 1%;" href="{% static 'images/home/lkp.png' %}" onclick="return hs.expand(this)">
                            <img class="border border-dark" style="max-width: 100%;height: auto; border-radius: 10px" src="{% static 'images/home/thumb/lkp.jpg' %}">
                        </a>
                        Не секрет, что кузов – самая дорогостоящая часть автомобиля. Именно поэтому важно понимать, что грязь, имеющая свойство проникать в краску, может подвергнуть автомобиль усиленной коррозии и разрушить его лакокрасочное покрытие. Воспользовавшись услугами нашего центра, вы не только получите бережно вымытый автомобиль, но и приятное обслуживание. С нами Вы поймете, что такое оперативный сервис, качественные услуги и демократичные цены.
                    </p>
                </em>
            </div>
        </div>
        <div id="giftbox" class="col-2">
            <div id="giftbox-top" class="">
                <img  style="width: 100%" src="{% static 'images/actions/ed-bg.png'%}">
            </div>
            <div id="giftbox-bot" class="">
                <a class="col d-flex justify-content-center" href="actions">
                    <img src="{% static 'images/act_thumb/discount_sm.jpg' %}">
                </a>
            </div>
        </div>
    </div>
{% endblock %}