<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load staticfiles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="{% static 'css/custom-style.css' %}">
    <style>
        html { height: 100%; }
        body {
            min-height:100%;
            position:relative;
            padding-bottom: 70px;
            background-color:#e2e6dd;
        }
        .footer {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 40px;}
        a:focus{
            background: #17a2b8!important;
        }
        .dropdown-menu > a:hover{
            background: black;
            color: #fffff1;
        }
    </style>

    <title>"Фрегат" Добро пожаловать!</title>
  </head>
  <body>
    <!-- Вконтакте лого -->
    <div class=" jumbotron big-banner d-flex  align-items-center  mb-0 rounded-0">
        <a href="https://vk.com/public183623649" class="vk-ico">
            <img src="{% static 'images/insta_icon.PNG' %}" class="rounded mb-3" title="Мы в Instagram">
            <p>
                <img src="{% static 'images/vk_icon.PNG' %}" class="rounded" title="Мы Вконтакте">
            </p>
        </a>
    </div>

    <!-- navbar menu -->
    <div class="navbar navbar-expand-md shadow shadow-normal" style="background-color: #fffff1">
        <div class="collapse navbar-collapse justify-content-center" >
            <ul class="navbar-nav  text-center">
                <li class="nav-item ">
                    <a class="nav-link text-dark rounded" href="../home">ГЛАВНАЯ <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-dark rounded" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">О КОМПАНИИ</a>
                    <div class="dropdown-menu bg-info rounded" aria-labelledby="dropdown01">
                        <a class="dropdown-item text-white rounded" href="../reviews">ОТЗЫВЫ</a>
                        <a class="dropdown-item text-white rounded" href="../license">ЛИЦЕНЗИИ И СЕРТИФИКАТЫ</a>
                        <a class="dropdown-item text-white rounded" href="../clients">КОРПОРАТИВНЫМ КЛИЕНТАМ</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-dark rounded" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">АВТОМОЙКА</a>
                    <div class="dropdown-menu bg-info rounded" aria-labelledby="dropdown02">
                        <a class="dropdown-item rounded" href="#">БЕСКОНТАКТНАЯ МОЙКА</a>
                        <a class="dropdown-item rounded" href="#">НАНО-МОЙКА</a>
                        <a class="dropdown-item rounded" href="#">ХИМЧИСТКА</a>
                        <a class="dropdown-item rounded" href="#">АВТОМОЙКА ДЛЯ ГРУЗОВЫХ АВТОМОБИЛЕЙ</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark rounded" href="#">УСЛУГИ И ЦЕНЫ</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-dark rounded" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ГАЛЕРЕЯ</a>
                    <div class="dropdown-menu bg-info rounded" aria-labelledby="dropdown03">
                        <a class="dropdown-item rounded" href="#">ГАЛЕРЕЯ 1</a>
                        <a class="dropdown-item rounded" href="#">ГАЛЕРЕЯ 2</a>
                        <a class="dropdown-item rounded" href="#">ГАЛЕРЕЯ 3</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark rounded" href="#">АКЦИИ</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-dark rounded" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">КОНТАКТЫ</a>
                    <div class="dropdown-menu bg-info rounded" aria-labelledby="dropdown04">
                        <a class="dropdown-item rounded" href="/contact_1/sib79.html">ул.Сибирская 79 б</a>
                        <a class="dropdown-item rounded" href="../contact_1/lug16.html">пер.Луговой 16</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    {% block content %}
    {% endblock %}

    <footer class="footer bg-dark text-white">
        <div class="container" style="border-top-width: 0px; margin-left: 20px;">
            <div class="row">
                <div class="span1">
                    <div class="footer-text mt-2" style="font-size: 12px;">
                        site by Kolmakov Alexander © 2019 •
                    </div>
                </div>
            </div>
        </div>
    </footer>
  <!-- Bootstrap JQUERY -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>

</html>