<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load staticfiles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="{% static 'css/custom-style.css' %}">
      <!-- highslide -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/highslide.css' %}" />
    <!--[if IE 6]>
    <link rel="stylesheet" type="text/css" href="{% static 'css/highslide-ie6.css' %}" />
    <![endif]-->
    <style>
        html { height: 100%; }
        body {
            min-height:100%;
            position:relative;
            padding-bottom: 70px;
            background-color:#e2e6dd;
        }
        .footer {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 40px;}
        a:focus{
            background: #17a2b8!important;
        }
        .dropdown-menu > a:hover{
            background: black;
            color: #fffff1;
        }
    </style>
    <title>Автомойка в Томске "Фрегат"</title>
  </head>
  <body class="pb-4">
    <!-- Вконтакте лого -->
    <div class="row jumbotron big-banner d-flex pt-0 mb-0 rounded-0">
        <div class="colM">
            <div class="col-12">
                <img style="height: 250px;margin-left: 6%" src="{% static 'images/fregat_logo1.PNG' %}">
            </div>
            <!--
            <div class="pl-5">
                <a href="https://vk.com/public183623649" class="row vk-ico" style="margin-left: 15%">
                    <img src="{% static 'images/insta_icon.PNG' %}" class="rounded" title="Мы в Instagram">
                    <p>
                        <img src="{% static 'images/vk_icon.PNG' %}" class="rounded ml-3" title="Мы Вконтакте">
                    </p>
                </a>
            </div>
            -->
        </div>
    </div>

    <!-- navbar menu -->
    <div class="row navbar navbar-expand-md bg-dark shadow shadow-normal">
        <div class="collapse navbar-collapse justify-content-center" >
            <ul class="navbar-nav  text-center">
                <li class="nav-item ">
                    <a class="nav-link text-white rounded-lg" href="../home">ГЛАВНАЯ</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-white rounded-lg" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">О КОМПАНИИ</a>
                    <div class="dropdown-menu bg-info rounded-lg" aria-labelledby="dropdown01">
                        <a class="dropdown-item text-white rounded-lg" href="../reviews">ОТЗЫВЫ</a>
                        <a class="dropdown-item text-white rounded-lg" href="../license">ЛИЦЕНЗИИ И СЕРТИФИКАТЫ</a>
                        <a class="dropdown-item text-white rounded-lg" href="../clients">КОРПОРАТИВНЫМ КЛИЕНТАМ</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-white rounded-lg" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">АВТОМОЙКА</a>
                    <div class="dropdown-menu bg-info rounded-lg" aria-labelledby="dropdown02">
                        <a class="dropdown-item rounded-lg text-white" href="../w-contact">БЕСКОНТАКТНАЯ МОЙКА</a>
                        <a class="dropdown-item rounded-lg text-white" href="../nano">НАНО-МОЙКА</a>
                        <a class="dropdown-item rounded-lg text-white" href="../chemical">ХИМЧИСТКА</a>
                        <a class="dropdown-item rounded-lg text-white" href="../gruzovik">АВТОМОЙКА ДЛЯ ГРУЗОВЫХ АВТОМОБИЛЕЙ</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white rounded-lg" href="../price">УСЛУГИ И ЦЕНЫ</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-white rounded-lg " href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ГАЛЕРЕЯ</a>
                    <div class="dropdown-menu bg-info rounded-lg" aria-labelledby="dropdown03">
                        <a class="dropdown-item rounded-lg text-white" href="../gallery/gallery_1.html">ГАЛЕРЕЯ 1</a>
                        <a class="dropdown-item rounded-lg text-white" href="../gallery/gallery_2.html">ГАЛЕРЕЯ 2</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white rounded-lg" href="../actions">АКЦИИ</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-white rounded-lg" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">КОНТАКТЫ</a>
                    <div class="dropdown-menu bg-info rounded-lg" aria-labelledby="dropdown04">
                        <a class="dropdown-item rounded-lg text-white" href="/contact_1/sib79.html">ул.Сибирская 79 б</a>
                        <a class="dropdown-item rounded-lg text-white" href="../contact_1/lug16.html">пер.Луговой 16</a>
                        <!--feedback button -->
                        <a class="dropdown-item rounded-lg text-white" data-toggle="modal" href="#exampleModal">ОБРАТНАЯ СВЯЗЬ</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="fon-image">
    {% block content %}
    {% endblock %}
    </div>

    <!--feedback -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-dark text-white">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Оставьте отзыв</h5>
                    <button type="button" id="modal_close_btn" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="contactForm" action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name">Ваше имя:</label>
                            <input id="name" class="form-control" name="name" required type="text" placeholder="Иван">
                        </div>
                        <div class="form-group">
                            <label for="email">Ваш E-mail:</label>
                            <input id="email" class="form-control" name="email" required type="text" placeholder="ivanov@email.com">
                        </div>
                        <div class="form-group">
                            <label for="phone">Ваш телефон:</label>
                            <input id="phone" class="form-control" name="phone" required type="text" placeholder="+7 (800) 000-00-00">
                        </div>
                        <div class="form-group">
                            <label for="message">Текст сообщения:</label>
                            <textarea id="message" class="form-control" required name="message" rows="4"></textarea>
                        </div>
                        <div class="form-group form-check">
                            <input id="check" class="form-check-input" checked type="checkbox">
                            <label class="form-check-label" for="check">Я добровольно отправляю свои данные</label>
                        </div>
                        <button id="button" class="btn btn-success" type="submit">Отправить</button>
                        <div class="result">
                            <span id="answer"></span>
                            <span id="loader" style="display:none"><img src="{% static 'images/loader.gif' %}" alt=""></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    <footer class="row footer bg-dark text-white">
        <div class="container" style="border-top-width: 0px; margin-left: 20px;">
            <div class="row">
                <div class="span1">
                    <div class="footer-text mt-2" style="font-size: 12px;">
                        © 2019-2021
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap JQUERY -->

    <!-- Подключение полной версии jQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- HighSlide JS -->
    <script type="text/javascript" src="{% static 'js/highslide-full.js' %}"></script>

    <!-- Маска для номера телефона -->
    <script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
    <!-- Инициализация и Ajax-запрос -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>

</html>