{% extends "car_wash/wrapper_demo.html" %}
{% block content %}
{% load staticfiles %}
<div class="container pt-5 pb-5 text-white">
   <!-- paht -->
   <div class="row">
       <div class="span12" >
           <section class="title-section">
               <h1 class="pb-3 ts">НАШИ АКЦИИ</h1>
               <!-- BEGIN BREADCRUMBS-->
                   <div  style="display: inline-block">
                       <ul class="breadcrumb breadcrumb__t shadow shadow-lg opacit text-white" style="font-size: 40%"><li><a href="/home">ГЛАВНАЯ</a></li><li class="divider ml-2">/</li> <li class="ml-2"><a href="/actions"> АКЦИИ </a></li></ul><!-- END BREADCRUMBS -->
                   </div>
           </section><!-- .title-section -->
       </div>
   </div>
   <div class="media position-relative post ts actions_post" style="overflow: hidden; align-items: center">
       <img style="max-width: 15%;height: auto" src="{% static 'actions/birthday.jpg' %}" class="mr-3" alt="...">
       <div class="media-body">
           <h3>20% скидки на Ваш День Рождения!</h3>
           <p>Уважаемы клиенты. В ваш день рождения действует скидка 20% на любые услуги автомойки!💰❗(при предъявлении паспорта)</p>
       </div>
   </div>
   <div class="mt-5 media position-relative post ts actions_post" style="overflow: hidden; align-items: center">
       <img style="max-width: 15%;height: auto" src="{% static 'actions/action.jpg' %}" class="mr-3" alt="...">
       <div class="media-body">
           <h3>Уважаемые клиенты!</h3>
           <p>
               Атомойка Фрегат проводит акцию-только 4 июля комплексная мойка автомобиля со скидкой 30%!
               Условия акции-сделать репост этой записи у себя на странице,предъявить администратору автомойки❗❗❗
           </p>
       </div>
   </div>
</div>
{% endblock %}