{% extends "car_wash/wrapper.html" %}
{% block content %}
<div class="container pb-5" style="width: 100%">
    <div class="container pt-5">
<!-- paht -->
           <div class="row pb-4">
               <div class="span12" >
                   <section class="title-section">
                       <h1 class="pb-3">КОРПОРАТИВНЫМ КЛИЕНТАМ</h1>
				   <!-- BEGIN BREADCRUMBS-->
                       <div class="" style="width: 64%">
                           <ul class="breadcrumb breadcrumb__t shadow shadow-lg" style="font-size: 12px;background-color: #e2e6dd;"><li><a href="/home">ГЛАВНАЯ</a></li><li class="divider ml-2">/</li><li class="active ml-2">О КОМПАНИИ</a></li> <li class="divider ml-2">/</li> <li class="ml-2"><a href="/license"> КОРПОРАТИВНЫМ КЛИЕНТАМ </a></li></ul>			<!-- END BREADCRUMBS -->
                       </div>
	               </section><!-- .title-section -->
               </div>
           </div>
    </div>
    <div class="container" >
        <div class="span12" data-motopress-type="loop" data-motopress-loop-file="loop/loop-page.php">
            <div id="post-2347" class="page post-2347 type-page status-publish hentry">
		        <div class="row ">
                    <div class="span10 ">&nbsp;<p></p>
                        <h3>Компания имеет опыт и умеет работать с корпоративными клиентами</h3>
                        <p class="more">Мы уже длительный период оказываем услуги мойки автомашин в г. Томске. Имеем огромный опыт в этом деле, обладаем современными инструментами и оборудованием, необходимым для обеспечения высокого качества конечного результата. Одним из приоритетных направлений работы компании есть сотрудничество с корпоративным клиентом. Мы преуспели и в этом деле, обладаем большим опытом работы с разными компаниями и организациями.</p>
                        <p class="more">Удобный график функционирования мойки, разнообразие дополнительных услуг, предоставляемых ею, обеспечивает привлекательность нашей компании не только для частных, но и корпоративных клиентов.</p>
                        <h3>Специфика деятельности компании</h3>
                        <p class="more">Мы предлагаем своим клиентам расширенный спектр услуг, их тарификацию в индивидуальном порядке, гибкую прогрессивную систему скидок, приоритетность обслуживания.</p>
                        <p class="more">За все время работы с разными клиентами мы показали себя как ответственный, честный и порядочный партнер, с которым работать не только выгодно, но и безопасно.</p>
                        <div class="content_box  ">
                            <h3>Своим клиентам компания гарантирует:</h3>
                            <div class="list styled arrow2-list">
                                <ul>
                                    <li>Высокое качество и скорость обслуживания все 12 часов в сутки, в любой из дней недели. Несколько разновидностей мойки, на выбор клиента.</li>
                                    <li>Использование при оказании услуг только сертифицированных автокосметических средств, производимых ведущими в мире в этой отрасли компаниями.
                                    </li>
                                    <li>Высокую квалификацию и опыт персонала.</li>
                                    <li>Полный документооборот при оформлении сделки и оказании определенной услуги, включающий заполнение заказ-нарядов, подписание актов выполнения работ, систематические сверки</li>
                                    <li>Прозрачность сотрудничества и деятельности по оказании услуг, лояльность и терпимость при возникновении претензий к компании и споров, а также при их разрешении.
                                    </li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </div><!-- .content_box (end) -->
                        <p class="more">Мы готовы к долгосрочному сотрудничеству. Обладаем необходимой рабочей силой и оборудованием, просторными помещениями и боксами, способными принять несколько единиц техники за один раз. Компания уверенно себя чувствует на рынке подобных услуг, способна выдержать даже очень жесткую конкуренцию.</p>
                        <p class="more">Мы вас не подведем и в любое время обеспечим качественной услугой.</p>
                        <p class="more"><a href="#">Шаблон договора</a></p>
                    </div>
                </div><!-- .row (end) -->
                <div class="clear"></div>
		<!--.pagination-->
	        </div><!--post-->
        </div>
    </div>
</div>
{% endblock %}