{% extends "car_wash/wrapper.html" %}
{% block content %}
<div class="container mt-5" style="width: 100%" >
    <div class="container">
<!-- paht -->
           <div class="row pb-4">
               <div class="span12" >
                   <section class="title-section">
                       <h1 class="pb-3">ЛИЦЕНЗИИ И СЕРТИФИКАТЫ</h1>
				   <!-- BEGIN BREADCRUMBS-->
                       <div style="width: 66%">
                           <ul class="breadcrumb breadcrumb__t" style="font-size: 12px"><li><a href="/home">ГЛАВНАЯ</a></li><li class="divider ml-2">/</li><li class="active ml-2">О КОМПАНИИ</a></li> <li class="divider ml-2">/</li> <li class="ml-2"><a href="/license"> ЛИЦЕНЗИИ И СЕРТИФИКАТЫ </a></li></ul>			<!-- END BREADCRUMBS -->
                       </div>
	               </section><!-- .title-section -->
               </div>
           </div>
    </div>
    <h1>ЛИЦЕНЗИИ И СЕРТЕФИКАТЫ</h1>
</div>
{% endblock %}