{% extends "car_wash/wrapper_demo.html" %}
{% block content %}
<div class="container pb-5" style="width: 100%" >
    <div class="container pt-5">
<!-- paht -->
           <div class="row pb-4">
               <div class="span12" >
                   <section class="title-section">
                       <h1 class="pb-3 text-white ts">ЛИЦЕНЗИИ И СЕРТИФИКАТЫ</h1>
				   <!-- BEGIN BREADCRUMBS-->
                       <div class="text-white" style="width: 45%">
                           <ul class="breadcrumb breadcrumb__t opacit" style="font-size: 40%"><li><a href="/home">ГЛАВНАЯ</a></li><li class="divider ml-2">/</li><li class="active ml-2 text-white">О КОМПАНИИ</a></li> <li class="divider ml-2">/</li> <li class="ml-2"><a href="/license"> ЛИЦЕНЗИИ И СЕРТИФИКАТЫ </a></li></ul>			<!-- END BREADCRUMBS -->
                       </div>
	               </section><!-- .title-section -->
               </div>
           </div>
    </div>
    <h3 class="text-white ts">ЛИЦЕНЗИИ И СЕРТЕФИКАТЫ</h3>
</div>
{% endblock %}