{% extends "car_wash/wrapper.html" %}
{% block content %}
   <div class="container mt-5" style="width: 100%">
    <!-- Example row of columns -->
       <div class="container">
           <!-- paht -->
           <div class="row pb-4">
               <div class="span12" >
                   <section class="title-section">
                       <h1 class="pb-3">ОТЗЫВЫ</h1>
				   <!-- BEGIN BREADCRUMBS-->
                       <ul class="breadcrumb breadcrumb__t shadow shadow-normal" style="font-size: 12px"><li><a href="/home">ГЛАВНАЯ</a></li><li class="divider ml-2">/</li><li class="active ml-2">О КОМПАНИИ</a></li> <li class="divider ml-2">/</li> <li class="ml-2"><a href="/reviews"> ОТЗЫВЫ </a></li></ul>			<!-- END BREADCRUMBS -->
	               </section><!-- .title-section -->
               </div>
           </div>
           <div class="row" style="" >
               <div class="col-md-3 rounded pt-3 shadow shadow-lg" style="background-color: #e2e6dd">
                    <h5>ПОСЛЕДНИЙ ОТЗЫВ_1</h5>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-info" href="#" role="button">Подробнее »</a></p>
               </div>
               <div class="col-md-3 rounded pt-3 ml-3 mr-3 shadow shadow-lg">
                    <h5>ПОСЛЕДНИЙ ОТЗЫВ_2</h5>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, sdf sdf sdf sdf sdfsdg gsdg sdg sdgdsg ggdsg sdg dsgdsg sdg s gsdg gsdg sdg tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-info" href="#" role="button">Подробнее »</a></p>
               </div>
               <div class="col-md-3 rounded pt-3 shadow shadow-lg">
                    <h5>ПОСЛЕДНИЙ ОТЗЫВ_3</h5>
                    <p>Dod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    <p><a class="btn btn-info"  href="#" role="button">Подробнее »</a></p>
               </div>

           </div>
       </div>

    <hr>

   </div>
{% endblock %}