{% extends "car_wash/wrapper.html" %}
{% block content %}

<div class="container mt-5" style="width: 100%">
    <div class="container">
    <!-- paht -->
       <div class="row">
           <div class="span12" >
               <section class="title-section">
                   <h1 class="pb-3">ХИМЧИСТКА АВТОМОБИЛЯ</h1>
               <!-- BEGIN BREADCRUMBS-->
                   <div class="" style="width: 51%">
                       <ul class="breadcrumb breadcrumb__t shadow shadow-lg" style="font-size: 12px;background-color: #e2e6dd;"><li><a href="/home">ГЛАВНАЯ</a></li><li class="divider ml-2">/</li><li class="active ml-2">АВТОМОЙКА</a></li> <li class="divider ml-2">/</li> <li class="ml-2"><a href="/chemical"> ХИМЧИСТКА </a></li></ul>			<!-- END BREADCRUMBS -->
                   </div>
               </section><!-- .title-section -->
           </div>
       </div>
    </div>
    <div class="container" >
		<div class="row ">
            <div class="span8 pb-4">
                &nbsp;
                <p></p>
                <p class="more" style="font-style: italic; font-size: 20px">Профессиональная химчистка автомобиля поможет вернуть салону свежий вид, даже в случае сильных загрязнений. Достичь такого результата самостоятельно без применения специального оборудования и автохимии, а также без опыта подобной работы невозможно. Если вы хотите ощутить качественный эффект, обращайтесь к нам!</p>
            </div>


        </div><!-- .row (end) -->
        <div class="row border-top border-bottom border-dark  mb-4 shadow shadow-sm">
            <h2>Как происходит химчистка салона автомобиля у нас<br></h2>
            <h5><em> Вся процедура выполняется в несколько этапов</em></h5>
        </div>
        <h2><a href="#" title="Пылесос" >Пылесос</a></h2>
        <div class="service-box_body">
            <div class="service-box_txt">
                На первом с помощью мощного пылесоса производится сухая уборка салона. Ее цель – убрать пыль и мусор из всех уголков и щелей, очистить от пыли обивочные материалы.
            </div>
        </div>
        <h2><a href="#" title="Полировка">Полировка</a></h2>
        <div class="service-box_body">
            <div class="service-box_txt">
                На втором этапе выполняется полировка поверхностей и чистка салона при помощи автохимии, шампуней и салфеток из микрофибры. В зависимости от типа материала и степени загрязненности используются различные средства. На поверхности салона наносится активная пена с помощью пеногенератора.
            </div>
        </div>
        <h2><a href="#" title="Удаление загрязнений" >Удаление загрязнений</a></h2>
        <div class="service-box_body">
            <div class="service-box_txt">
                Третий этап – удаление нанесенной пены вместе с загрязнениями пылесосом или салфеткой из микрофибры (зависит от особенностей салона).
            </div>
        </div>
        <h2 ><a href="#" title="Сушка">Сушка</a></h2>
        <div class="service-box_body">
            <div class="service-box_txt">
                Заключительным этапом является сушка. Остатки влаги выдуваются из авто напором воздуха.
            </div>
        </div>
        <div class="span8 "><p class="more">В результате вы получаете чистый салон, который будет выглядеть, как новый</p></div>
    &nbsp;       <br>
        <div class="row ">
            <h2 class="border-top border-bottom border-dark  mb-4 shadow shadow-sm pb-3">Почему автомойку и химчистку лучше заказать у нас? &nbsp;</h2>
            <p class="more mb-4"  style="font-style: italic; font-size: 20px">Мы гарантируем, что поверхности салона не будут повреждены во время уборки. Мы используем профессиональное оборудование и средства, позволяющие выполнить чистку качественно. Применяем только безопасную для здоровья автохимию. Наконец, у нас вы можете заказать химчистку автомобиля дешево.</p>
            <h2 class="border-top border-bottom border-dark  mb-4 shadow shadow-sm pb-3">Стоимость химчистки автомобиля у нас &nbsp;</h2>
            <p class="more"  style="font-style: italic; font-size: 20px">Цена услуги зависит от размеров и типа салона машины, а также от степени его загрязненности. Узнать полную стоимость чистки вы можете по телефону, или в разделе сайта «Услуги и цены». Обращаем ваше внимание, что у нас вы можете заказать чистку отдельных элементов салона – например, химчистку сидений автомобиля. Также пользуется спросом химчистка потолка автомобиля.</p>
            <a href="/price" title="Цены" class="btn btn-info btn-lg btn-inline " target="_self">Ознакомиться с ценами »</a><!-- .btn -->
        </div>
    </div>
</div>
{% endblock %}