{% extends "car_wash/wrapper_demo.html" %}
{% block content %}

<div class="container pt-5 pb-5 text-white ts" style="width: 100%">
<!-- paht -->
   <div class="row">
       <div class="span12" >
           <section class="title-section">
               <h1 class="pb-3 ">НАНО-МОЙКА</h1>
           <!-- BEGIN BREADCRUMBS-->
               <div class="text-white" style="width: 67%">
                   <ul class="breadcrumb breadcrumb__t shadow shadow-lg opacit" style="font-size: 40%;"><li><a href="/home">ГЛАВНАЯ</a></li><li class="divider ml-2">/</li><li class="active ml-2">АВТОМОЙКА</a></li> <li class="divider ml-2">/</li> <li class="ml-2"><a href="/nano"> НАНО-МОЙКА </a></li></ul>			<!-- END BREADCRUMBS -->
               </div>
           </section><!-- .title-section -->
       </div>
   </div>
   <div>
        <div class="span8 ">&nbsp;<p></p>
            <p class="more" style="font-size: larger; font-style: italic">Нано автомойка – это относительно новая услуга на российском рынке. Это мойка автомобилей с применением специальной химии в три этапа. Она имеет несколько преимуществ по сравнению с обычной.</p>
        </div>
        <br>
        <div class="row">
            <div class="span8 ">
                <div class="content_box">
                    <h2 class="mb-5">Преимущества нано-мойки</h2>
                    <div class="container mt-3">
                        <div class="row">
                            <div class="col-7">
                                <ul style="font-style: italic;max-width: 100%">
                                    <strong>
                                    <li><p class="more">Ее результаты приближены к качественной полировке</p></li>
                                    <li><p class="more">Используемые нано-составы способствуют защите всех частей кузова автомобиля от загрязнений длительное время. При постоянном пользовании услугой защитный эффект накапливается</p></li>
                                    <li><p class="more">Нано-мойка способствует сохранению блеска и глубокого цвета кузова автомобиля</p></li>
                                    <li><p class="more">Она обеспечивает бережное качественное очищение кузова от загрязнений</p></li>
                                    </strong>
                                </ul>
                                <div class="pl-5 mt-5">
                                    <a href="#" title="Цены" class="btn btn-lg" target="_self">Ознакомиться с ценами »</a><!-- .btn -->
                                </div>
                            </div>
                            <iframe id="nano-movie" class="rounded-lg col-lg-5" style="margin-bottom: 15%" src="https://www.youtube.com/embed/KfvtZRWfeLs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    &nbsp;<p></p>
                    <p class="more pt-3" style="font-size: larger; font-style: italic" >Указанные преимущества достигаются только в том случае, если на мойке используется настоящая нанохимия и соблюдается технология. «Фрегат» - это профессиональная нано автомойка. Обращаясь к нам, вы можете быть уверены, что получаете действительно качественную услугу.
                    Мы работаем ежедневно. Стоимость наших услуг доступна. Для клиентов мы проводим акции и предлагаем скидки.</p>
                    <p class="more" style="font-size: larger"><strong>Если вы ищете лучшую нано-автомойку в Томске, приезжайте к нам!</strong></p>
                    <div class="clear"></div>
                </div><!-- .content_box (end) -->
            </div>
        </div><!-- .row (end) -->
		<div class="clear"></div>
		<!--.pagination-->
	</div>
</div>
{% endblock %}